<%- include('../partials/html-head.ejs') %> 
<%- include('../partials/nav.ejs') %> 
  <title>New Destination</title>
</head>
<body>
    <h1>Create a Destination</h1>
    <form action="/destinations/create" method="POST" id="submit-destination">
      <label for="Destination">Enter a Destination Airport:</label>
      <input type="text" name="airport">
      <button type="submit" form="submit-destination">submit</button>
    </form>
    <table>
        <thead>
          <tr>
            <th>List of Destinations</th>
          </tr>
        </thead>
        <tbody>
          <% destinations.forEach(function(destination) { %>
            <tr>
            <td><%= destination.airport %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
</body>
</html>